@charset "UTF-8";
@import "../common.css";

.post-content h1, h2 {
	border-bottom: 1px solid #e6e6e6;
}

.post-content h1 {
	font-size: 28px;
}

.post-content h2 {
	font-size: 24px;
}

.post-content h3 {
	font-size: 22px;
}

.post-content h4 {
	font-size: 20px;
}

.post-content h5 {
	font-size: 18px;
}

.post-content h6 {
	font-size: 16px;
}

.post-content h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.post-content code {
    border-radius: 3px;
    padding: 0 .3em;
    font-family: 'Source Code Pro',Consolas,Menlo,Monaco,'Courier New',monospace;
    font-size: .95em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #c7254e;
    background-color: #f9f2f4;
}

.post-content pre code {
	color: inherit;
	background-color: transparent;
}

.post-content pre {
	background-color: #f0f3f6 !important;
}

.post-header {
	margin-bottom: 1.5rem
}

.post-content {
	margin-bottom: 2rem;
}

.post-tag {
	text-align: left;
}

.post-tag__icon {
	color: #058ed2;
}

.post-tag-item {
	margin-right: .5rem;
	color: #058ed2;
}

.post-tag-info {
	border-left: 5px solid #999;
	padding-left: 1rem;
	margin-bottom: .5rem;
}
