@charset "UTF-8";
@import "../common.css";

.container {
	background-image: url(/Blog/img/login-bg.svg);
}

.container__inner {
	width: 368px;
	margin: 0 auto;
}

.header {
	margin-top: 100px;
    transform: translateY(-1.5rem);
    animation: loginPageSlider 1s;
    animation-fill-mode: forwards;
}

.header__title {
	font-size: 2rem;
	font-weight: bolder;
	text-align: center;
}

.main {
    transform: translateY(1.5rem);
    animation: loginPageSlider 1s;
    animation-fill-mode: forwards;
}

.form-item {
	margin-bottom: 1rem;
}

.form-submit {
	text-align: center;
}

.auth-other {
	float: left;
}

.auth-register {
	float: right;
}
