@charset "UTF-8";
@import "../common.css";

.tagcloud {
	width: 100%;
}

.tagcloud-total {
	font-size: calc(1em + 10px);
    text-align: center;
    cursor: default;
}

.tagcloud-item {
	margin-bottom: 1rem;
}

.tagcloud-item__tag {
	color: #11a3eb;	
}

.tag-list {
	position: relative;
}

.tag-list-item {
	float: left;
	margin: 0 .5rem;
}

.tag-list-item__link {
    text-decoration: underline;
	transition-delay: 0s;
	transition-timing-function: ease;
	transition-duration: .2s;
	transition-property: color;
}
