@charset "UTF-8";
@import "../common.css";

.tagcloud {
	width: 100%;
}

.tagcloud-total {
	font-size: calc(1em + 10px);
    text-align: center;
    cursor: default;
}

.tagcloud-item {
	margin-bottom: 1rem;
}

.tag-list {
	position: relative;
}

.tag-list-item {
	display: block;
	position: relative;
	padding-left: 1.5rem;
	width: 100%;
	align-items: center;
}

.tag-list-item::before {
	content: '';
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1000;
    border-radius: 50%;
    width: .3rem;
    height: .3rem;
    background-color: #999;
    transition-delay: 0s;
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: border-color;
    transform: translate(50%,-50%);
}

.tag-list-item__tag {
	color: #11a3eb;	
}

.tag-list-item__link {
	transition-delay: 0s;
	transition-timing-function: ease;
	transition-duration: .2s;
	transition-property: color;
}
