.my-container {
	display: flex;
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	flex-direction: column;
	background-color: #eee;
}

.main {
	display: block;
	margin: 1.5rem auto;
	width: 100%;
	flex: 1 0 auto;
}

.main__inner {
	margin: 0 auto;
	width: calc(100% - 40px);
	font-size: 16px;
}

@media ( min-width : 1140.98px) {
	.main__inner {
		width: 1100.98px;
	}
}

.content {
	width: 100%;
	border-radius: 5px;
	padding: 1rem 2rem;
	background-color: #fff;
}

.content-home {
	padding: 0;
	background-color: transparent;
}

.content-wrap {
	position: relative;
	width: calc(100% - 300px);
	float: left;
}

.content-wrap--full {
	width: 100%;
}

.content-wrap-post {
	width: calc(100% - 400px);
}

@media ( max-width : 991.98px) {
	.content-wrap {
		width: 100%;
	}
}