.main {
  display: block;
  margin: 1.5rem auto;
  width: 100%;
  flex: 1 0 auto;
}

.main__inner {
  margin: 0 auto;
  width: calc(100% - 40px);
  font-size: 16px;
}

@media (min-width: 1341.98px) {
  .main__inner {
    width: 1301.98px;
  }
}

.content {
  width: 100%;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: #fff;
}

.content-wrap {
  position: relative;
  width: calc(100% - 310px);
  float: left;
}

@media (max-width: 991.98px) {
  .content-wrap {
    width: 100%;
  }
}

.post-list .post {
  margin: 0 0 1.5rem;
  width: 100%;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: #fff;
}

.post-header {
  position: relative;
  margin: 0 0 1rem;
  font-size: 1em;
  text-align: center;
}

.post-archives {
  position: absolute;
  left: -16px;
  top: 105px;
  border-color: #47456d;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #97dffd;
  color: #fff;
  margin: 5px 0 15px 2px;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  padding: 7px 11px 7px 32px;
  line-height: 1;
}

.post-archives::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border-top: 0 solid transparent;
  border-right-width: 1em;
  border-right-color: inherit;
  border-right-style: solid;
  border-bottom: 1em solid transparent;
  border-left: 0 solid transparent;
  width: 0;
  height: 0;
}

.post-archives__link {
  color: #fff;
}

.post-header-meta__item.published {
  color: #00a7e0;
}

.post-header-meta__item.visitor {
  color: #ff3f1a;
}

.post-header-title {
  margin: 0;
  cursor: auto;
}

.post-header-title__a {
  position: relative;
  color: #444;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 26px;
  font-weight: bolder;
  transition: color 0.3s;
}

.post-list .post-body-more {
  margin-top: 1.5rem;
  text-align: center;
}

.post-list .post-body-more__a {
  display: inline-block;
  border-radius: 5px;
  padding: 0 0.6em;
  color: #fff;
  background-color: #73c8ff;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.post-list .post-body-more__a:hover {
  background-color: #3496d8;
}

.sidebar {
  width: 280px;
  float: right;
}

@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
}

.sidebar__inner {
  border-radius: 5px;
  padding: 1rem;
  width: 280px;
  font-size: 16px;
  background-color: #fff;
}

.sidebar-author {
  width: 100%;
  text-align: center;
}

.sidebar-author-avatar {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.sidebar-author-avatar__img {
  display: block;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  opacity: 1;
}

.sidebar-author__motto {
  margin: 0.5rem 0 0;
  font-weight: 600;
}

.sidebar-social,
.sidebar-feed,
.sidebar-state,
.sidebar-cc {
  padding: 0.5rem 0;
  text-align: center;
}

.sidebar-social__item {
  display: inline-block;
  margin: 0.2rem;
  text-align: center;
  color: #fff;
  background-color: #a0daff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  transition-property: background-color;
  transition-delay: 0s;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.sidebar-social__item:hover {
  color: #fff;
  background-color: #4dbaff;
}

.sidebar-social__item--icon {
  font-size: 1.2em;
}

.sidebar-feed {
  font-size: 0;
}

.sidebar-feed-email,
.sidebar-feed-rss {
  display: inline-block;
  width: 50%;
  font-size: 14px;
}

.sidebar-feed-email_a,
.sidebar-feed-rss__a {
  transition-property: color;
  transition-delay: 0s;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.sidebar-feed-email_a {
  color: #54bcff;
}

.sidebar-feed-email_a:hover {
  color: #10a1ff;
}

.sidebar-feed-rss__a {
  color: #ff8956;
}

.sidebar-feed-rss__a:hover {
  color: #ff5912;
}

.sidebar-feed-email__a--icon,
.sidebar-feed-rss__a--icon {
  margin-right: 0.2rem;
}

.sidebar-state__a {
  display: inline-block;
  width: 30%;
  line-height: 1.5em;
  transition-property: color;
  transition-delay: 0s;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.sidebar-state__a:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

.sidebar-state__a--count {
  font-weight: 600;
  color: #333;
}
.sidebar-state__a.posts {
  color: #54bcff;
}

.sidebar-state__a.posts:hover {
  color: #0377c5;
}

.sidebar-state__a.categories {
  color: #5c5c5c;
}

.sidebar-state__a.categories:hover {
  color: #3d3d3d;
}

.sidebar-state__a.tags {
  color: #ff8956;
}

.sidebar-state__a.tags:hover {
  color: #d67348;
}

.footer {
  flex: 0 0 auto;
}

.footer__inner {
  position: relative;
  padding: 1rem;
  font-size: 16px;
  text-align: center;
  color: #eee;
  background-color: rgba(45, 46, 48, 0.7);
}

.footer__inner .logo {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.footer__inner .v-middle {
  vertical-align: middle;
}
