.sidebar {
  float: right;
  width: 280px;
}

@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
}

.sidebar__inner {
  border-radius: 5px;
  padding: 1rem;
  width: 280px;
  max-height: 600px;
  overflow: auto;
  font-size: 16px;
  background-color: #fff;
}

.sidebar-author {
  width: 100%;
  text-align: center;
}

.sidebar-author-avatar {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.sidebar-author-avatar__img {
  display: block;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  opacity: 1;
}

.sidebar-author__motto {
  margin: 0.5rem 0 0;
  font-weight: 600;
}

.sidebar-toplist {
	margin: .5rem 0;
}

.sidebar-toplist__title {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

.sidebar-toplist-item {
	display: block;
	width: 100%;
}

.sidebar-toplist-item__title {
	font-size: 14px;
	color: #ab3300;
}

.sidebar-toplist-item__visit {
	float: right;
	font-size: 14px;
	color: #ff3f1a;
}

.sidebar-social,
.sidebar-feed,
.sidebar-state,
.sidebar-cc {
  padding: 0.5rem 0;
  text-align: center;
}

.sidebar-social__item {
  display: inline-block;
  margin: 0.2rem;
  text-align: center;
  color: #fff;
  background-color: #a0daff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  transition-property: background-color;
  transition-delay: 0s;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.sidebar-social__item:hover {
  color: #fff;
  background-color: #4dbaff;
}

.sidebar-social__item--icon {
  font-size: 1.2em;
}

.sidebar-feed {
  font-size: 0;
}

.sidebar-feed-email,
.sidebar-feed-rss {
  display: inline-block;
  width: 50%;
  font-size: 14px;
}

.sidebar-feed-email_a,
.sidebar-feed-rss__a {
  transition-property: color;
  transition-delay: 0s;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.sidebar-feed-email_a {
  color: #54bcff;
}

.sidebar-feed-email_a:hover {
  color: #10a1ff;
}

.sidebar-feed-rss__a {
  color: #ff8956;
}

.sidebar-feed-rss__a:hover {
  color: #ff5912;
}

.sidebar-feed-email__a--icon,
.sidebar-feed-rss__a--icon {
  margin-right: 0.2rem;
}

.sidebar-state__a {
  display: inline-block;
  width: 30%;
  line-height: 1.5em;
  transition-property: color;
  transition-delay: 0s;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.sidebar-state__a:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

.sidebar-state__a--count {
  font-weight: 600;
  color: #333;
}
.sidebar-state__a.posts {
  color: #54bcff;
}

.sidebar-state__a.posts:hover {
  color: #0377c5;
}

.sidebar-state__a.categories {
  color: #5c5c5c;
}

.sidebar-state__a.categories:hover {
  color: #3d3d3d;
}

.sidebar-state__a.tags {
  color: #ff8956;
}

.sidebar-state__a.tags:hover {
  color: #d67348;
}
